.main {
    position: relative;
    overflow: hidden;
}

/* header main */
.header__main {
    width: 1140px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    z-index: 1;
}

/* header logo */
.header__logo {
    display: inline-flex;
    width: 258px;
}


.header__logo-ball {
    position: relative;
    width: 63px;
    height: 63px;
    background: #FF64AE;
    border-radius: 50%;

}

.header__logo-ball::before {
    position: absolute;
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    left: 12px;
    top: 11px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.header__logo-ball::after {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    left: 23px;
    top: 25px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.header__logo-ball-rectangle {
    position: absolute;
    width: 40px;
    height: 11px;
    border-radius: 50px;
    background-color: #091156;
    left: 39px;
    top: 26px;
}

.header__beautice {
    width: 161px;
    height: 34px;
    color: #091156;
    margin-top: 15px;
    margin-left: 34px;
    line-height: 34px;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 1px #091156;
}

/* header menu */

.header__menu {
    margin-top: 18px;
    margin-left: 134px;
}

.header__menu__list {
    display: flex;
}

.header__menu__list-item {
    list-style: none;
    margin-left: 57px;
}

.header__menu__list-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #8B8B8B;
    font-weight: 500;
}

.header__menu__list-item-link--active {
    position: relative;
    color: #414880;
    font-weight: 600;
}

.header__menu__list-item-link--active::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 7px;
    background-color: #41487F;
    right: -8px;
    top: 8px;
}

.header__menu__list-item-link--active::after {
    position: absolute;
    content: "";
    display: block;
    width: 7px;
    height: 1px;
    background-color: #41487F;
    right: -11px;
    top: 11px;
}

/* header contact */
.header__contact {
    width: 158px;
    height: 52px;
    border-radius: 50px;
    line-height: 52px;
    background-color: #FF64AE;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 52px;
    margin-top: 4px;
    text-decoration: none;
}

/* content */

.content {
    position: relative;
    margin-top: 125px;
}

/* content background img */
.content__backgroundImg1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 320px;
}

.content__backgroundImg2 {
    position: absolute;
    left: 0;
    z-index: -1;
    top: 2773px;
}

/* content intro */

.content__intro {
    margin-left: 165px;
    width: 732px;
    height: 197px;
}

.content__intro-heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: #FF64AE;
    height: 20px;
}

.content__intro-ders {
    height: 97px;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 125%;
    color: #091156;
    margin-top: 12px;
}

.content__intro-text {
    height: 56px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    margin-top: 12px;
}

/* content imgMain */
.content__imgMain-wrap {
    position: relative;
    width: 1200px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
}

.content__imgMain {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #C4C4C4;
}

.content__imgMain-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* content professional */

.content__professional {
    margin-top: 51px;
    text-align: center;
}

.content__professional-heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FF64AE;

}

.content__professional-title {
    margin-top: 12px;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    color: #091156;

}

.content__professional-ders {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
}


/* content avatar */

.content__avatar {
    display: flex;
    justify-content: center;
    margin-top: 87px;
}

.content__avatar-items {
    text-align: center;
    height: 439px;
    width: 270px;
    border-radius: 0px;

}

.content__avatar-items--active {
    height: 626px;
    width: 424px;
    border-radius: 42px;
    box-shadow: 0px 25px 50px 25px #F6F7FF;

}

.content__avatar-img {
    margin-top: 91px;
}

.content__avatar-items-heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FF64AE;
    margin-top: 53px;
}

.content__avatar-items-ders {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    margin-top: 15px;
    color: #091156;
    
}

.content__avatar-items-text {
    margin-top: 16px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    color: #8B8B8B;
    position: relative;
    z-index: 1;
}

.content__avatar-items-list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.content__avatar-items-icons {
    padding-left: 38px;
    padding-right: 38px;
}

/* content business */

.content__business {
    position: relative;
    width: 1440px;
    height: 529px;
    margin-top: 150px;
}

.content__business-img {
    position: absolute;
}

.content__business-themes {
    position: absolute;
}


/*content buisiness main */

.content__business-main {
    position: absolute;
    width: 732px;
    height: 197px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__business-main-heading {
    height: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    color: #ABB4FF;
}

.content__business-main-ders {
    font-weight: 600;
    height: 97px;
    font-size: 3.6rem;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    width: 732px;
    height: 97px;
}

.content__business-main-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    width: 680px;
    height: 56px;
    color: #CACACA; 
}

/* content about */

.content__about {
    margin-top: 158.7px;
    display: flex;
    width: 1140px;
    height: 359.36px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.content__about-icon {
    background-color: transparent;
}

/* content about main */

.content__about-main {
    margin-top: 30px;
}

.content__about-main-title {
    height: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: #FF64AE;
    margin-bottom: 12px;
}

.content__about-main-heading {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 125%;
    width: 460px;
    height: 91px;
    color: #091156;
    margin-bottom: 20px;
}

.content__about-main-ders {
    width: 483px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    margin-bottom: 35px;
}

.content__about-main-button {
    width: 200px;
    height: 58.36px;
    background: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/* content about 1 */
.content__about--1 {
    margin-top: 117px;
}

/* content professional 1 */
.content__professional--1 {
    margin-top: 134px;
}

/* content logo */

.content__logo {
    display: flex;
    width: 962px;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 94px;
    list-style: none;
}

.content__logo-mentors {

}

/* footer  */
.footer {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 660px;
}

.footer__background {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.footer__contact {
    display: flex;
    position: absolute;
    top: 253px;
    left: 150px;
    right: 150px;
    justify-content: space-between;
}



.footer__contact-logo {
    display: flex;
    align-items: center;
}

.footer__contact-logo-icon {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: #FF64AE;
    position: relative;
}

.footer__contact-logo-icon::before {
    position: absolute;
    display: block;
    content: '';
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #FFFFFF;
    top: 11px;
    left: 12px;
}

.footer__contact-logo-icon::after {
    position: absolute;
    display: block;
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;;
    top: 23px;
    left: 25px;
}

.footer__contact-logo-iconRules {
    position: absolute;
    height: 11px;
    width: 40px;
    border-radius: 50px;
    background-color: #FFFFFF;
    top: 26px;
    left: 39px;
}

.footer__contact-logo-text {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 34px;
}

.footer__contact-ders {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;   
    color: #D7DBFF;
    margin-top: 33px;
}

.footer__contact-ders span {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.footer__contact-adress {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    margin-top: 26px;
}

.footer__contact-phone {
    display: flex;
    margin-top: 5px;
}

.footer__contact-phone-number {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #D7DBFF;

}

.footer__contact-phone-emai {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #D7DBFF;
    margin-left: 28px;
}

/* footer content page */
.footer__contact-page {
}

.footer__contact-page-heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.footer__contact-page-list {
    list-style: none;
    margin-top: 24px;
}

.footer__contact-page-list-item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    margin-bottom: 11px;
    display: flex;
}

.footer__contact-page-list-item-icon {
    margin-right: 13px;
}

/* footer introduce */
.footer__introduce {
    position: absolute;
    top: 538px;
    left: 150px;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__introduce-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer__introduce-list-item {
    margin-right: 46px;
}

.footer__introduce-version {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #D7DBFF;
}

