.main {
    position: relative;
    overflow: hidden;
}

/* header main */
.header__main {
    margin-top: 41px;
    min-height: 63px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
}

/* header logo */
.header__logo {
    text-decoration: none;
    display: inline-flex;
    flex-grow: 3;
}

.header__logo:hover {
    opacity: 0.6;
}


.header__logo-ball {
    position: relative;
    width: 63px;
    height: 63px;
    background: #FF64AE;
    border-radius: 50%;

}

.header__logo-ball::before {
    position: absolute;
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    left: 12px;
    top: 11px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.header__logo-ball::after {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    left: 23px;
    top: 25px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.header__logo-ball-rectangle {
    position: absolute;
    width: 40px;
    height: 11px;
    border-radius: 50px;
    background-color: #091156;
    left: 39px;
    top: 26px;
}

.header__beautice {
    height: 34px;
    color: #091156;
    margin-top: 15px;
    margin-left: 34px;
    line-height: 34px;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 1px #091156;
}

/* header menu list */

.header__menu__list {
    flex-grow: 1;
    display: flex;

}

.header__menu__list-item {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;    
}

.header__menu__list-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #8B8B8B;
    font-weight: 500;
}

.header__menu__list-item-link:hover {
    opacity: 0.6;
}

.header__menu__list-item-link--active {
    position: relative;
    color: #414880;
    font-weight: 600;
}

.header__menu__list-item-link--active::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 7px;
    background-color: #414880;
    right: -8px;
    top: 8px;
}

.header__menu__list-item-link--active::after {
    position: absolute;
    content: "";
    display: block;
    width: 7px;
    height: 1px;
    background-color: #414880;
    right: -11px;
    top: 11px;
}

/* header contact */
.header__contact {
    display: block;
    text-decoration: none;
    width: 158px;
    height: 52px;
    border-radius: 50px;
    line-height: 52px;
    background-color: #FF64AE;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFFFFF;
}

.header__contact:hover {
    opacity: 0.6;
}

/* header main tablet and mobile */
.header__mobile {
    display: none;
    font-size: 3rem;
    text-decoration: none;
}

.header__mobile:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}



.modal__list {
    background-color: #091156;
    height: 100vh;
    width: 30%;
    position: absolute;
    z-index: 3;
    padding-left: 40px;
    list-style: none;
    animation-name: abcc;
    animation-duration: 1s;
}

@keyframes abcc{
    from {
        opacity: 0;
        width: 0%;
    }

    to {
        opacity: 1;
        width: 30%;
    }
}

.modal__close {
    cursor: pointer;
    font-size: 2rem;
    color: #D7DBFF;
    padding: 20px;
    display: inline-block;
    position: absolute;
    z-index: 3;
    left: 0;
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__list-items {
    margin-top: 40px;
}

.modal__list-items:hover {
    opacity: 0.6;
}

.modal__list-items-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
}

.modal__list-items-link-active {
    display: block;
    margin-top: 80px;
    color: rgb(65, 72, 128);
}

/* content */

.content {
    position: relative;
    margin-top: 125px;
}

/* content background img */
.content__backgroundImg1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 320px;
}

.content__backgroundImg2 {
    position: absolute;
    left: 0;
    z-index: -1;
    top: 2773px;
}

/* content intro */

.content__intro {
    display: flex;
    flex-wrap: wrap;
    margin-left: 11%;
    max-width: 732px;
    min-height: 197px;
}

.content__intro-heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: #FF64AE;
    height: 20px;
}

.content__intro-ders {
    min-height: 97px;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 125%;
    color: #091156;
    margin-top: 12px;
}

.content__intro-text {
    min-height: 56px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    margin-top: 12px;
}

/* content imgMain */
.content__imgMain-wrap {
    position: relative;
    max-width: 1200px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
}

.content__imgMain {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #C4C4C4;
}

.content__imgMain-icon {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content__imgMain-icon:hover {
    opacity: 0.6;
}

/* content professional */

.content__professional {
    margin-top: 51px;
    text-align: center;
}

.content__professional-heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FF64AE;

}

.content__professional-title {
    margin-top: 12px;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    color: #091156;

}

.content__professional-ders {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
}


/* content avatar */
.content__avatar-wrap.wide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row.content__avatar {
    margin-top: 93px;
}

.content__avatar-items-wrap.col {
    display: flex;
    justify-content: center;
}

.content__avatar-items {
    text-align: center;
    min-height: 439px;
    width: 340px;
    border-radius: 0px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.content__avatar-items:hover {
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 42px;
}

.content__avatar-img-link:hover {
    opacity: 0.6;
}

.content__avatar-img {
    margin-top: 91px;
}


.content__avatar-items-heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FF64AE;
    margin-top: 53px;
    text-decoration: none;
    display: block;
}

.content__avatar-items-heading:hover {
    opacity: 0.6;
}

.content__avatar-items-ders {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    margin-top: 15px;
    color: #091156;
    text-decoration: none;
    display: block;
}

.content__avatar-items-ders:hover {
    opacity: 0.6;
}

.content__avatar-items-text {
    margin-top: 16px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    color: #8B8B8B;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: block;
}

.content__avatar-items-text:hover {
    opacity: 0.6;
}

.content__avatar-items-list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.content__avatar-items-icons {
    padding-left: 38px;
    padding-right: 38px;
}

.content__avatar-items-icons:hover {
    transform: scale(1.1);
    transition: 0.5s;
}   

/* content business */

.content__business {
    position: relative;
    min-height: 529px;
    margin-top: 150px;
}

.content__business-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.content__business-themes {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    z-index: -1;
}


/*content buisiness main */

.content__business-main {
    max-width: 732px;
    min-height: 197px;
}

.content__business-main-heading {
    height: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    color: #ABB4FF;
}

.content__business-main-ders {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    max-width: 732px;
}

.content__business-main-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    max-width: 680px;
    min-height: 56px;
    color: #CACACA; 
}

/* content about */
.row.content__about {
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.content__about {
    margin-top: 158.7px;
    display: flex;
    min-height: 359.36px;
}

.content__about-icon {
    display: block;
}

/* content main */

.content__about-main.col {
    display: inline-block;
}

.content__about-main-title {
    height: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: #FF64AE;
    margin-bottom: 12px;
}

.content__about-main-heading {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 125%;
    color: #091156;
}

.content__about-main-ders {
    min-height: 105px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;
    margin-top: 10px;
    margin-bottom: 35px;
}

.content__about-main-button {
    width: 200px;
    height: 58.36px;
    background: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.content__about-main-button:hover {
    opacity: 0.6;
}

/* content about 1 */
.content__about--1 {
    margin-top: 117px;
}

/* content professional 1 */
.content__professional--1 {
    margin-top: 134px;
}

/* content logo */

.content__logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 962px;
    min-height: 84px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 94px;
    list-style: none;
}

.content__logo-mentors {

}

/* footer */
.footer {
    margin-top: 61px;
    position: relative;
    width: 100%;
    min-height: 705px;
    padding-top: 237px;
}

.footer__around {
    position: absolute;
    bottom: 20%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #FF64AE;
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.footer__around:hover {
    opacity: 0.6;
}


/* footer background */
.footer__background1 {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__background2 {
    z-index: -2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


.row.footer__contact {
    margin-left: 130px;
    margin-right: 130px;
}



.footer__contact-logo {
    display: flex;
    align-items: center;
}

.footer__contact-logo-icon {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: #FF64AE;
    position: relative;
}

.footer__contact-logo-icon::before {
    position: absolute;
    display: block;
    content: '';
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #FFFFFF;
    top: 11px;
    left: 12px;
}

.footer__contact-logo-icon::after {
    position: absolute;
    display: block;
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;;
    top: 23px;
    left: 25px;
}

.footer__contact-logo-iconRules {
    position: absolute;
    height: 11px;
    width: 40px;
    border-radius: 50px;
    background-color: #FFFFFF;
    top: 26px;
    left: 39px;
}

.footer__contact-logo-text {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 34px;
}

.footer__contact-ders {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;   
    color: #D7DBFF;
    margin-top: 33px;
}

.footer__contact-ders span {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.footer__contact-adress {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    margin-top: 26px;
}

.footer__contact-phone {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
}

.footer__contact-phone-number {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    text-decoration: none;
}

.footer__contact-phone-emai {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #D7DBFF;
    margin-left: 28px;
}

.footer__contact-phone-emai:hover {
    opacity: 0.6;
}

/* footer content page */
.footer__contact-page {
}

.footer__contact-page-heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.footer__contact-page-list {
    list-style: none;
    margin-top: 24px;
}

.footer__contact-page-list-link:hover {
    opacity: 0.6;
}

.footer__contact-page-list-item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
    margin-bottom: 11px;
    text-decoration: none;
    display: flex;
}

.footer__contact-page-list-item-icon {
    margin-right: 13px;
}

.footer__contact-page-list-item-text {
    display: block;
}

/* footer introduce */
.footer__introduce {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
}

.footer__introduce-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer__introduce-list-item {
    margin-right: 46px;
}

.footer__introduce-list-item:hover {
    opacity: 0.6;
    cursor: pointer;
}

.footer__introduce-version {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #D7DBFF;
}