/* tablet */
@media (min-width: 740px) and ( max-width: 1023px) {
    /* menu */
    .header__menu__list {
        display: none;
    }

    .header__contact {
        display: none;
    }

    /* header main tablet end mobile */
    .header__mobile {
        display: block;
    }

    /* footer */
    .footer__contact-phone {
        margin-bottom: 50px;
    }
    
}

/* mobile */
@media (max-width: 739px) {
    /* header main */
    .header__main {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .header__menu__list {
        margin-top: 40px;
    }

    .header__contact {
        margin-top: 30px;
    }

    .header__menu__list-item {
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* footer main */
    .footer {
        padding-top: 50px;
    }

    .footer__introduce {
        display: none;
    }

    .footer__contact-ders {
        display: none;
    }

    .footer__contact-adress {
        display: none;
    }

    .footer__contact-phone {
        display: none;
    }

    .footer__contact-page {
        margin-top: 30px;
    }
    
}