/* tablet */
@media (min-width: 740px) and ( max-width: 1023px) {
    /* menu */
    .header__menu__list {
        display: none;
    }

    .header__contact {
        display: none;
    }

    /* header main tablet end mobile */
    .header__mobile {
        display: block;
    }

    /* footer */
    .footer__contact-phone {
        margin-bottom: 50px;
    }
    
}

/* mobile */
@media (max-width: 739px) {

    /* menu */
    .header__menu__list {
        display: none;
    }

    .header__contact {
        display: none;
    }

    /* header main tablet end mobile */
    .header__mobile {
        display: block;
    }

    /* footer */
    .footer__contact-phone {
        margin-bottom: 50px;
    }
    /* header main */
    .header__main {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    /* footer main */
    .footer {
        padding-top: 50px;
    }

    .footer__introduce {
        display: none;
    }

    .footer__contact-ders {
        display: none;
    }

    .footer__contact-adress {
        display: none;
    }

    .footer__contact-phone {
        display: none;
    }

    .footer__contact-page {
        margin-top: 30px;
    }
    
}