/* tablet */

@media (min-width: 740px) and ( max-width: 1023px) {
    .content__nav-items {
        margin-top: 50px;
    }

    .content__send-icon {
        margin-top: 100px;
    }

    .content__services-text {
        width: 100%;
    }
}

/* mobile */
@media (max-width: 739px) { 
    .content__send-profile-title {
        width: 100%;
    }

    .content__services-text {
        width: 100%;
    }

    .content__nav-items {
        margin-top: 50px;
    }

    .content__send-icon {
        margin-top: 100px;
    }
}