/* tablet */
@media (min-width: 740px) and ( max-width: 1023px) {
    /* header  */
    .header__content {
        flex-direction: column;
        justify-content: center;
    }

    .header__content-beauty {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__content-playlist {
        flex-direction: column;
        align-items: center;
    }

    .header__content-playlist-text {
        display: none;
    }

    /* content about */
    .content__about-wrap {
        width: 100%;
    }

    .content__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content__about-main {
        margin-top: 140px;
        text-align: center;
    }

    .content__about-main-button {
        margin-left: auto;
        margin-right: auto;
    }

    /* content make up */
    .row.content__makeup {
        
    }

    .content__makeup-wrap {
        margin-bottom: 20px;
    }

    .content__makeup-items-heading {
        width: 100%;
    }

    .content__makeup-items-ders {
        width: 100%;
        margin-top: 20px;    
        margin-bottom: 30px;
    }

    .content__makeup-items-lern {
        margin-bottom: 30px;
    }

    /* content resson */
    .content__resson {
        margin-top: 0;
    }

    .content__resson-main {
        justify-content: center;
    }

    .content__resson-main-choose {
        display: none;
    }

    /* content contact */
    .content__contact {
        flex-direction: column;
    }

    .content__contact-phone-from-input {
        height: 73px;
    }
}

/* mobile ----------------------------------------------------------------------------------->*/
@media (max-width: 739px) { 
    /* header  */
    .header__content {
        flex-direction: column;
        justify-content: center;
    }

    .header__content-beauty {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__content-playlist {
        flex-direction: column;
        align-items: center;
    }

    .header__content-playlist-text {
        display: none;
    }

    /* content about */
    .content__about-wrap {
        width: 100%;
    }

    .content__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content__about-main {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* content make up */
    .content__makeup-wrap {
        margin-bottom: 20px;
    }

    .content__makeup-items-heading {
        width: 100%;
    }

    .content__makeup-items-ders {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .content__makeup-items-lern {
        margin-bottom: 30px;
    }

    /* content resson */
    .content__resson {
        margin-top: 0;
    }

    .content__resson-main {
        justify-content: center;
    }

    .content__resson-main-choose {
        display: none;
    }

    /* content contact*/
    .content__contact {
        flex-direction: column;
    }

    .content__contact-call {
        margin-right: 0;
        max-width: 391px;
    }


    
    .content__contact-phone {
        max-width: 100%;
    }

    .content__contact-phone-from-input {
        height: 73px;
        width: 100%;
    }
}