/* tablet */
@media (min-width: 740px) and ( max-width: 1023px) {
    /* content member */
    .content__member-items-main {
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 10%;
    }

    .content__member-items-main-text {
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        margin-top: 40px;
    }

}

/* mobile */
@media (max-width: 740px) {
    /* content member */
    .content__member-items-main {
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 10%;
    }

    .content__member-items-main-text {
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        margin-top: 40px;
    }

    
}